body {
	background-color: #100030;
}
input[type="text"], textarea {
	background-color:#FFFFFF !important;
}


/* padding at the top of the form */
.dropbox-form {
	padding-top: 100px;
}

/* the form */
.dropbox-form form {
	background-color: #FFFFFF;
	max-width:500px;
	width:75%;
	margin:0 auto;
	padding:32px;
	border-radius:4px;
}

/* margin at the bottom of the form title */
.dropbox-form h2 {
	margin-bottom:32px;
}

/* height of the form fields */
.dropbox-form form .form-control {
	height:50px;
}

/* padding at the top of the form textarea */
.dropbox-form form textarea.form-control {
	padding-top:10px;
}

/* form submission button */
.dropbox-form form .btn {
	padding:16px 32px;
	opacity:0.9;
	text-transform:uppercase;
	font-weight:bold;
	font-size:12px;
	letter-spacing:0.5px;
	line-height:1;
	outline:none !important;
}

/* makes the form submission button opaque when hovered */
.dropbox-form form .btn:hover {
	opacity:1;
}
